@{
    ViewBag.Title = "Reporte";
}

@Html.Partial("_HeaderLayout", new ViewDataDictionary { { "NombreFicha", "Reporte Libro Almacén" }, { "Accion", "" }, { "Icono", "icon ion-clipboard" } })
<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-12">
                @ViewBag.WebReport.GetHtml()
            </div>
        </div>
    </div>
</div>

<link href="~/Areas/Almacenes/Almacenes/Views/InventariosFisicos/reportStyles.css" rel="stylesheet" />